/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');

/* HTML: <div class="loader"></div> */

/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
/* .loader {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 30px;
  animation: l1 1s linear infinite alternate;
}
.loader:before {
  content: 'Loading...';
}
@keyframes l1 {
  to {
    opacity: 0;
  }
} */

.loader {
  width: 12px;
  height: 12px;
  border: 5px solid #352b2b;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
